

body{
background-color: aliceblue;
}

.tab{
    overflow: hidden;
    border: 1px solid #ccc; 
    background-color: white;
    position: absolute; top:0px; left: 700px;
}

.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 19px 41px;
    transition: 0.3s;
}

#heedo{
    position: absolute; top: 1050px; left: 30px;
    }
    

#links{
padding: 5px;
position: absolute; left: 950px; color: black; 

}

a {
    padding-right: 5px;
}

#header1{
position: absolute; top: 230px; left: 750px;
font-family:'Grape Nuts', cursive;
font-size: 50px;
}

#profile{
position: absolute; top: 575px; left: 30px;
font-family: 'Indie Flower', cursive;
}


#Synopsis{
position: absolute; top: 575px; left: 450px;
font-family: 'Indie Flower', cursive;
max-width: 800px;
}

#MeetTheCharacters{
position: absolute; top: 975px; left: 30px;
font-family: 'Indie Flower', cursive; 
font-size: 25px;
font-weight: bolder;
}

#quote1{
position:absolute; top: 1263px; left: 55px;
}

#quote11{
position:absolute; top: 1282px; left: 130px; padding-bottom: 40px;
}

#quote2{
    position:absolute; top: 1265px; left: 535px; 
}
    
#quote22{
    position:absolute; top: 1283px; left: 580px;
}

#quote3{
    position:absolute; top: 1265px; left: 940px;
}
    
#quote33{
    position:absolute; top: 1283px; left: 1040px;
}
